<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/registro">

        <label for="nombre"> NOMBRE DEL ESTUDIANTE:</label>
        <input type="text" name="nombre">
        <br>
        <label for="correo">CORREO DE ESTUDIANTE</label>
        <input type="email" name="correo">
        <button type="ENVIAR"> ENVIAR </button>






    </form>



    
</body>
</html>